[build-system]
requires = [
    "setuptools >= 36.4",
    "wheel",
    "setuptools_scm >= 2.1",
    "cython >= 0.28.1",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
# only build for 64-bit
skip = ["*-manylinux_i686"]

test-requires = "pytest"
test-command = "pushd {project} && pytest"

manylinux-x86_64-image = "manylinux1"
manylinux-i686-image = "manylinux1"

[tool.cibuildwheel.macos]
archs = ["x86_64", "universal2", "arm64"]
