cython>=0.28.1
cmake
# macOS py36 wheels are missing
# https://github.com/scikit-build/ninja-python-distributions/issues/12
# ninja
-e git+https://github.com/scikit-build/scikit-build.git#egg=scikit-build
